/* style.css */

body {
    font-family: Arial, sans-serif;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.window {
    display: none;
}

.active {
    display: block;
}

.section {
    padding: 50px;
    text-align: center;
}

.section-title {
    font-size: 2em;
    margin-bottom: 20px;
}

.produtos-container, .tecnologia-container, .seguranca-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.produto, .tecnologia-item, .seguranca-item {
    width: 250px;
    margin: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.adicionar {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

.form-contato {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-contato label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-contato input, 
.form-contato textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical; /* Permite redimensionar apenas verticalmente */
}

.form-contato input:focus, 
.form-contato textarea:focus {
    outline: none;
    border-color: #007bff; /* Cor em foco */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn-enviar {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-enviar:hover {
    background-color: #0056b3;
}

.servicos-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.servico-item {
    width: 250px;
    margin: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}